@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    /* primary colors */
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);

    /* neutral colors */
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h2, p {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}


/* ----------------------- */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--dark-blue);

    gap: 60px;
}

.card {
    position: relative;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;  
    padding: 3em;
    border-radius: 20px;
    background-color: var(--dark-grayish-blue);
}


.card-content {
    text-align: center;
    background-color: var(--dark-grayish-blue);
}

p {
    font-size: 0.8rem;
    color: var(--neon-green);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 2em;
}

h2 {
    color: var(--light-cyan);
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1em;
}

.divider {
    position: relative;
    width: 100%;
}

hr {
    border: none;
    border-top: 1px solid var(--grayish-blue);
}


i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light-cyan);
    font-size: 2rem;
    background-color: var(--dark-grayish-blue);
}



button {
    position: absolute;
    width: 60px;
    height: 60px;
    padding: 8px;

    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 50%;

    background-color: var(--neon-green);
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 16px var(--neon-green);}






